<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link type="text/x-scss" href="{% static 'bootstrap/bootstrap.scss' %}" rel="stylesheet" media="screen">
 

    <title>Bienvenido al template de cargos</title>
</head>
<body>
    <h1>Bienvenido a la página de cargos</h1>
     
     <p>Te has logueado como  {{  data.cargo }}</p>
 
 
 
    <h4>La lista de los cargos son:  </h4>
    <ul>
    {% for i in list %}
    <li>{{ i.cargo  }}</li>
    {% endfor %}


    <h4>Formulario para agregar cargos a la lista</h4>
    <form action="/api/v1/equipos/cargo" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate="">
        {% csrf_token %}
            <div>
                <label class="col-sm-2 control-label ">
                        Cargo
                </label>
                <div class="col-sm-10">
                    <textarea name="cargo" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-actions">
            <button class="btn btn-primary js-tooltip" title="" data-original-title="Make a POST request on the Cargo resource">POST</button>
          </div>
      </form>
</body>
</html>