<div class="mat-elevation-z8">

<button
(click)="openTournament('hola')">Hola estás en torneos , click para enviar información a GA</button>
<button
(click)="add_to_card()">Hola estás en torneos , click para Agregar a carrito</button>
</div>
