@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@include mat.core();
@import '../variables/color/index';

html {
  font-size: 10px;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif
}

body {
  font-size: 14px;
  // Uncomment below for dark theme.
  // background: #303030;
  // color: white;
}

// Theme Overrides
// Import library functions for theme creation.
@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$primary: mat-palette($vt-primary, 50, 100, 200);
$accent: mat-palette($mat-purple, 50, A100, A200);

// SWAPPING THEMES
// NOTE: Comment the below for DARK THEME
$theme: mat-light-theme($primary, $accent);
$angular-accent: mat.define-palette($primary, 500, 100, 900);
$angular-primary: mat.define-palette($primary, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$red-palette);


$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $angular-warn,
    ),
  )
);

.darkMode {
  @include angular-material-theme($angular-dark-theme);
  @include angular-material-typography($zeus-typography);
}


$angular-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $angular-warn,
    ),
  )
);

.lightMode {
  @include mat.all-component-colors($angular-light-theme);

}




// Include theme styles for Angular Material components.
@include angular-material-theme($theme);


