<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>{{'principal.menu' | translate}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="equipos">{{'principal.equipo'|translate}}</a>
      <a mat-list-item href="jugadores">{{'principal.jugadores'|translate}}</a>
      <a mat-list-item href="directiva">{{'principal.directiva'|translate}}</a>
      <a mat-list-item href="tournament">{{'principal.tournament'|translate}}</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">{{'principal.titulo' | translate}}</mat-icon>
      </button>
      <span class="float-left">{{'principal.menu' | translate}}</span>
      <div class="flex-stretch"></div>
      <mat-icon class="mr-8">brightness_5</mat-icon>
      <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
      </mat-slide-toggle>
      <mat-icon>bedtime</mat-icon>

      <div class="contenedor">
        <h1>{{ 'principal.texto' | translate }}</h1>
        <div class="contenedor-botones">
          <button [ngClass]="{'active': activeLang == 'es'}" (click)="cambiarLenguaje('es')">Español</button>
          <button [ngClass]="{'active': activeLang == 'en'}" (click)="cambiarLenguaje('en')">Inglés</button>
          <button [ngClass]="{'active': activeLang == 'jp'}" (click)="cambiarLenguaje('jp')">Japonés</button>
        </div>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
